
h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}
form
{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgb(92, 92, 146);
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
    padding: 10px;
    
}

input
{
    border-radius: 5px;
    margin: 10px;
    width: 25%;
    padding: 15px;
    background: rgb(235, 224, 224);
}

button
{
    border-radius: 5px;
    margin: 10px;
    width: 50%;
    padding: 15px;
    background: rgb(194, 194, 194);
}
select
{
    border-radius: 5px;
    margin: 10px;
    width: 50%;
    padding: 15px;
    background: rgb(235, 224, 224); 
}
span
{
    color: rgb(243, 0, 0);
    font-style: italic;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
button
{
    font-size: 40px;
    font-weight: bold;
    width: 100%;
}